// Global.
h1.page-title {
  margin-bottom: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 27px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-top: 0;
  line-height: 22px;
}

// Header
#header {
  margin-bottom: 30px;
  background-image: url('../images/bg_top.png');
  background-repeat: repeat-x;
}

.site-logo {
  margin-left: 3px;
}

// Product categories.
.view-bfm-product-categoires.view-display-id-page {
  .taxonomy-term.vocabulary-bfm-category.view-mode-bfm_teaser {
    margin-bottom: 30px;
  }
  .img-responsive {
    width: 100%;
    opacity: 0.6;
  }
  .field--name-name-field {
    position: absolute;
    top: 22px;
    padding: 8px 15px;
    background-color: rgba(0, 128, 0, 0.8);
    .field__item {
      a {
        color: white;
        font-size: 1.6em;
        font-weight: bold;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
  .taxonomy-term {
    height: 150px;
    width: 100%;
    overflow: hidden;
  }
}

.content {
  .row {

  }
}

// Product.
.steps-wrapper {
  height: 50px;
  margin: 10px 0 30px 0;
  position: relative;
  display: inline-block;
  .steps-line {
    height: 5px;
    background-color: green;
    position: relative;
    top: 22px;
    z-index: -1;
  }
  ul.msnf-forms-steps {
    padding: 0 30px;
    li:last-child {
      margin-right: 0;
    }
    li {
      list-style-type: none;
      float: left;
      display: inline-block;
      background-color: darkgreen;
      font-weight: bold;
      padding: 10px 12px;
      margin-right: 30px;
      color: #FFF;
      text-align: center;
    }
    li.active {
      background-color: #EC4717;
    }
  }
}

.node-bfm_product-form {
  .step-format h3 {
    /*display: none;*/
  }
}

.page-node-add-bfm-product {
  #edit-preview {
    /*display: none;*/
  }
}

// Menu.

.primary ul.menu.navbar-nav {
  width: 100%;
  background-color: #F7F7F7;
  li {
    float: none;
    border-bottom: 1px solid #FFF;
    a {
      color: #008000;
      font-size: 15px;
      padding: 8px 15px;
    }
  }
}

ul.menu.navbar-nav.secondary {
  li {
    float: left;
    a {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #FFF;
      height: 45px;
    }
    a:hover {
      background-color: transparent;
    }
    a:before {
      margin-right: 7px;
      font-family: FontAwesome;
    }
    a.post-fee-add {
      background-color: darkgreen;
      border: 1px solid #008000;
      border-radius: 4px;
      height: 34px;
      margin: 6px 30px 0 0;
      padding: 7px 28px 7px 20px;
      font-weight: bold;
    }
    a.post-fee-add:hover {
      background-color: #008000;
    }
  }
}

// Language switcher.

#lang_dropdown_form_language_content {
  .lang-dropdown-select-element {
    background-color: transparent;
    width: 120px !important;
  }
  button {
    margin-top: 7px;
    padding-bottom: 3px;
    background-color: transparent;
    .filter-option {
      color: #FFF;
    }
    .bs-caret {
      .caret {
        color: #FFF !important;
      }
    }
  }
  .dropdown-menu.open {
    border-radius: 0;
    border: 1px solid #EEE;
    .dropdown-menu.inner {
      width: 120px;
    }
  }
}

// User.

.user-form-or {
  height: 1px;
  background-color: #ddd;
  text-align: center;
  position: relative;
  margin: 40px 0;
  .inner {
    display: inline-block;
    background-color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;
    top: -17px;
    font-size: 24px;
  }
}

.hybridauth-widget-wrapper {
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
  h3 {
    display: inline-block;
    margin: 0;
    top: -17px;
    position: relative;
    background-color: #FFF;
    padding: 0 10px;
  }
  ul.hybridauth-widget {
    margin-top: 20px;
    li {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}

.toboggan-unified {
  #login-message {
    margin-bottom: 30px;
  }
  #login-links {
    a.login-link {
      border: 1px solid #DDD;
      border-radius: 4px;
      color: #000;
      background-color: #EEE;
    }
    a.lt-active {
      background-color: #5cb85c;
      border-color: #4cae4c;
      color: #FFF;
    }
    a.login-link:hover {
      text-decoration: none;
      border: 1px solid #DDD;
      border-radius: 4px;
      background-color: #5cb85c;
      color: #FFF;
    }
  }
  .form-type-password-confirm > label {
    display: none;
  }
}

// Footer.

#footer {
  min-height: 300px;
  background-color: #DDD;
  margin-top: 30px;
  border-top: 1px solid #CCC;
}

