.bootstrap-select {
  box-shadow: none;
  .btn {
    text-transform: none;
    border-radius: 0;
    box-shadow: none;
    border: 0 solid #dddddd;
    border-bottom-width: 1px;
  }
  .btn:hover, .btn:focus {
    background-color: #FFF;
    outline: none !important;
  }
}

.bootstrap-select.open {
  .btn {
    background-color: #FFF;
    box-shadow: none;
  }
  .btn:hover {
    background-color: #FFF;
  }
  .dropdown-menu.open {
    border: none;
    box-shadow: none;
    .selected {
      outline: none;
      a {
        outline: none;
      }
    }
  }
}
