h1.page-title {
  margin-bottom: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 27px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
  margin-top: 0;
  line-height: 22px; }

#header {
  margin-bottom: 30px;
  background-image: url("../images/bg_top.png");
  background-repeat: repeat-x; }

.site-logo {
  margin-left: 3px; }

.view-bfm-product-categoires.view-display-id-page .taxonomy-term.vocabulary-bfm-category.view-mode-bfm_teaser {
  margin-bottom: 30px; }
.view-bfm-product-categoires.view-display-id-page .img-responsive {
  width: 100%;
  opacity: 0.6; }
.view-bfm-product-categoires.view-display-id-page .field--name-name-field {
  position: absolute;
  top: 22px;
  padding: 8px 15px;
  background-color: rgba(0, 128, 0, 0.8); }
  .view-bfm-product-categoires.view-display-id-page .field--name-name-field .field__item a {
    color: white;
    font-size: 1.6em;
    font-weight: bold; }
  .view-bfm-product-categoires.view-display-id-page .field--name-name-field .field__item a:hover {
    text-decoration: none; }
.view-bfm-product-categoires.view-display-id-page .taxonomy-term {
  height: 150px;
  width: 100%;
  overflow: hidden; }

.steps-wrapper {
  height: 50px;
  margin: 10px 0 30px 0;
  position: relative;
  display: inline-block; }
  .steps-wrapper .steps-line {
    height: 5px;
    background-color: green;
    position: relative;
    top: 22px;
    z-index: -1; }
  .steps-wrapper ul.msnf-forms-steps {
    padding: 0 30px; }
    .steps-wrapper ul.msnf-forms-steps li:last-child {
      margin-right: 0; }
    .steps-wrapper ul.msnf-forms-steps li {
      list-style-type: none;
      float: left;
      display: inline-block;
      background-color: darkgreen;
      font-weight: bold;
      padding: 10px 12px;
      margin-right: 30px;
      color: #FFF;
      text-align: center; }
    .steps-wrapper ul.msnf-forms-steps li.active {
      background-color: #EC4717; }

.node-bfm_product-form .step-format h3 {
  /*display: none;*/ }

.page-node-add-bfm-product #edit-preview {
  /*display: none;*/ }

.primary ul.menu.navbar-nav {
  width: 100%;
  background-color: #F7F7F7; }
  .primary ul.menu.navbar-nav li {
    float: none;
    border-bottom: 1px solid #FFF; }
    .primary ul.menu.navbar-nav li a {
      color: #008000;
      font-size: 15px;
      padding: 8px 15px; }

ul.menu.navbar-nav.secondary li {
  float: left; }
  ul.menu.navbar-nav.secondary li a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #FFF;
    height: 45px; }
  ul.menu.navbar-nav.secondary li a:hover {
    background-color: transparent; }
  ul.menu.navbar-nav.secondary li a:before {
    margin-right: 7px;
    font-family: FontAwesome; }
  ul.menu.navbar-nav.secondary li a.post-fee-add {
    background-color: darkgreen;
    border: 1px solid #008000;
    border-radius: 4px;
    height: 34px;
    margin: 6px 30px 0 0;
    padding: 7px 28px 7px 20px;
    font-weight: bold; }
  ul.menu.navbar-nav.secondary li a.post-fee-add:hover {
    background-color: #008000; }

#lang_dropdown_form_language_content .lang-dropdown-select-element {
  background-color: transparent;
  width: 120px !important; }
#lang_dropdown_form_language_content button {
  margin-top: 7px;
  padding-bottom: 3px;
  background-color: transparent; }
  #lang_dropdown_form_language_content button .filter-option {
    color: #FFF; }
  #lang_dropdown_form_language_content button .bs-caret .caret {
    color: #FFF !important; }
#lang_dropdown_form_language_content .dropdown-menu.open {
  border-radius: 0;
  border: 1px solid #EEE; }
  #lang_dropdown_form_language_content .dropdown-menu.open .dropdown-menu.inner {
    width: 120px; }

.user-form-or {
  height: 1px;
  background-color: #ddd;
  text-align: center;
  position: relative;
  margin: 40px 0; }
  .user-form-or .inner {
    display: inline-block;
    background-color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;
    top: -17px;
    font-size: 24px; }

.hybridauth-widget-wrapper {
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative; }
  .hybridauth-widget-wrapper h3 {
    display: inline-block;
    margin: 0;
    top: -17px;
    position: relative;
    background-color: #FFF;
    padding: 0 10px; }
  .hybridauth-widget-wrapper ul.hybridauth-widget {
    margin-top: 20px; }
    .hybridauth-widget-wrapper ul.hybridauth-widget li {
      margin-right: 15px;
      margin-left: 15px; }

.toboggan-unified #login-message {
  margin-bottom: 30px; }
.toboggan-unified #login-links a.login-link {
  border: 1px solid #DDD;
  border-radius: 4px;
  color: #000;
  background-color: #EEE; }
.toboggan-unified #login-links a.lt-active {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #FFF; }
.toboggan-unified #login-links a.login-link:hover {
  text-decoration: none;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #5cb85c;
  color: #FFF; }
.toboggan-unified .form-type-password-confirm > label {
  display: none; }

#footer {
  min-height: 300px;
  background-color: #DDD;
  margin-top: 30px;
  border-top: 1px solid #CCC; }

.bootstrap-select {
  box-shadow: none; }
  .bootstrap-select .btn {
    text-transform: none;
    border-radius: 0;
    box-shadow: none;
    border: 0 solid #dddddd;
    border-bottom-width: 1px; }
  .bootstrap-select .btn:hover, .bootstrap-select .btn:focus {
    background-color: #FFF;
    outline: none !important; }

.bootstrap-select.open .btn {
  background-color: #FFF;
  box-shadow: none; }
.bootstrap-select.open .btn:hover {
  background-color: #FFF; }
.bootstrap-select.open .dropdown-menu.open {
  border: none;
  box-shadow: none; }
  .bootstrap-select.open .dropdown-menu.open .selected {
    outline: none; }
    .bootstrap-select.open .dropdown-menu.open .selected a {
      outline: none; }

/*# sourceMappingURL=styles.css.map */
